// Column

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @include media-breakpoint-up($breakpoint, $breakpoints) {
    .#{$infix}c1 {
      width: 8.333333333333332%;
    }

    .#{$infix}c2 {
      width: 16.666666666666664%;
    }

    .#{$infix}c3 {
      width: 25%;
    }

    .#{$infix}c4 {
      width: 33.33333333333333%;
    }

    .#{$infix}c5 {
      width: 41.66666666666667%;
    }

    .#{$infix}c6 {
      width: 50%;
    }

    .#{$infix}c7 {
      width: 58.333333333333336%;
    }

    .#{$infix}c8 {
      width: 66.66666666666666%;
    }

    .#{$infix}c9 {
      width: 75%;
    }

    .#{$infix}c10 {
      width: 83.33333333333334%;
    }

    .#{$infix}c11 {
      width: 91.66666666666666%;
    }

    .#{$infix}c12 {
      width: 100%;
    }

    .#{$infix}co0 {
      margin-left: 0;
    }

    .#{$infix}co1 {
      margin-left: 8.333333333333332%;
    }

    .#{$infix}co2 {
      margin-left: 16.666666666666664%;
    }

    .#{$infix}co3 {
      margin-left: 25%;
    }

    .#{$infix}co4 {
      margin-left: 33.33333333333333%;
    }

    .#{$infix}co5 {
      margin-left: 41.66666666666667%;
    }

    .#{$infix}co6 {
      margin-left: 50%;
    }

    .#{$infix}co7 {
      margin-left: 58.333333333333336%;
    }

    .#{$infix}co8 {
      margin-left: 66.66666666666666%;
    }

    .#{$infix}co9 {
      margin-left: 75%;
    }

    .#{$infix}co10 {
      margin-left: 83.33333333333334%;
    }

    .#{$infix}co11 {
      margin-left: 91.66666666666666%;
    }

    .#{$infix}co12 {
      margin-left: 100%;
    }
  }
}
