// Margin

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @include media-breakpoint-up($breakpoint, $breakpoints) {
    @each $spacer in map-keys($spacers) {
      .#{$infix}m#{$spacer} {
        margin: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    @each $spacer in map-keys($spacers) {
      .#{$infix}mt#{$spacer} {
        margin-top: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    @each $spacer in map-keys($spacers) {
      .#{$infix}mr#{$spacer} {
        margin-right: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    @each $spacer in map-keys($spacers) {
      .#{$infix}mb#{$spacer} {
        margin-bottom: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    @each $spacer in map-keys($spacers) {
      .#{$infix}ml#{$spacer} {
        margin-left: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    @each $spacer in map-keys($spacers) {
      .#{$infix}mx#{$spacer} {
        margin-left: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
        margin-right: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    @each $spacer in map-keys($spacers) {
      .#{$infix}my#{$spacer} {
        margin-top: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
        margin-bottom: calc(var(--fn-spacer) * #{map-get($spacers, $spacer)});
      }
    }

    .#{$infix}mla {
      margin-left: auto;
    }

    .#{$infix}mra {
      margin-right: auto;
    }

    .#{$infix}mxa {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
