// Negative margin

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @include media-breakpoint-up($breakpoint, $breakpoints) {
    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}m-#{$spacer} {
          margin: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }

    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}mt-#{$spacer} {
          margin-top: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }

    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}mr-#{$spacer} {
          margin-right: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }

    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}mb-#{$spacer} {
          margin-bottom: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }

    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}ml-#{$spacer} {
          margin-left: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }

    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}mx-#{$spacer} {
          margin-left: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
          margin-right: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }

    @each $spacer in map-keys($spacers) {
      @if ($spacer != 0) {
        .#{$infix}my-#{$spacer} {
          margin-top: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
          margin-bottom: calc(-1 * var(--fn-spacer) * #{map-get($spacers, $spacer)});
        }
      }
    }
  }
}
