// Variables

@use 'sass:map';

// Grid breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Colors
$white: #fff !default;
$black: #000 !default;
$red: #d4351c !default;
$blue: #1d70b8 !default;
$blue-light: #5694ca !default;
$green: #00703c !default;
$yellow: #fd0 !default;
$gray: #b1b4b6 !default;
$gray-light: #f5f6fa !default;
$gray-dark: #212529 !default;

// Theme colors
$body: $black !default;
$primary: $blue !default;
$secondary: $gray !default;
$success: $green !default;
$info: $blue-light !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-light !default;
$dark: $gray-dark !default;

// Theme colors map
$theme-colors: (
  'white': $white,
  'body': $body,
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
) !default;

// Spacers
$spacer: 1rem !default;
$spacers: (
  '0': 0,
  '0-25': 0.25,
  '0-5': 0.5,
  '1': 1,
  '1-5': 1.5,
  '2': 2,
  '3': 3,
) !default;

// Font size map
$font-sizes: (
  '0-75': 0.75,
  '0-875': 0.875,
  '1': 1,
  '1-25': 1.25,
  '1-5': 1.5,
  '1-75': 1.75,
  '2': 2,
  '2-5': 2.5,
  '3': 3,
) !default;

// CSS Variables
:root {
  --fn-spacer: 1rem;
  --fn-font-size: 1rem;

  @each $colorName, $colorValue in $theme-colors {
    #{'--fn-' + $colorName}: #{$colorValue};
  }
}
