.lg-psa {
  position: absolute;
}

.lg-psr {
  position: relative;
}

.lg-psf {
  position: fixed;
}

.lg-pss {
  position: static;
}

.lg-t0 {
  top: 0;
}

.lg-r0 {
  right: 0;
}

.lg-b0 {
  bottom: 0;
}

.lg-l0 {
  left: 0;
}

.lg-ta {
  top: auto;
}

.lg-ra {
  right: auto;
}

.lg-ba {
  bottom: auto;
}

.lg-la {
  bottom: auto;
}

.lg-z0 {
  z-index: 0;
}

.lg-z1 {
  z-index: 1;
}

.lg-z2 {
  z-index: 2;
}

.lg-z3 {
  z-index: 3;
}

.lg-z4 {
  z-index: 4;
}
