.sm-psa {
  position: absolute;
}

.sm-psr {
  position: relative;
}

.sm-psf {
  position: fixed;
}

.sm-pss {
  position: static;
}

.sm-t0 {
  top: 0;
}

.sm-r0 {
  right: 0;
}

.sm-b0 {
  bottom: 0;
}

.sm-l0 {
  left: 0;
}

.sm-z0 {
  z-index: 0;
}

.sm-z1 {
  z-index: 1;
}

.sm-z2 {
  z-index: 2;
}

.sm-z3 {
  z-index: 3;
}

.sm-z4 {
  z-index: 4;
}
