.lg-curp {
  cursor: pointer;
}

.lg-curd {
  cursor: default;
}

.lg-cura {
  cursor: alias;
}

.lg-curzi {
  cursor: zoom-in;
}

.lg-curzo {
  cursor: zoom-out;
}

.lg-usn {
  user-select: none;
}

.lg-usa {
  user-select: auto;
}

.lg-ust {
  user-select: text;
}

.lg-pen {
  pointer-events: none;
}

.lg-pea {
  pointer-events: auto;
}
