.xl-curp {
  cursor: pointer;
}

.xl-curd {
  cursor: default;
}

.xl-cura {
  cursor: alias;
}

.xl-curzi {
  cursor: zoom-in;
}

.xl-curzo {
  cursor: zoom-out;
}

.xl-usn {
  user-select: none;
}

.xl-usa {
  user-select: auto;
}

.xl-ust {
  user-select: text;
}

.xl-pen {
  pointer-events: none;
}

.xl-pea {
  pointer-events: auto;
}
