.curp {
  cursor: pointer;
}

.curd {
  cursor: default;
}

.cura {
  cursor: alias;
}

.curzi {
  cursor: zoom-in;
}

.curzo {
  cursor: zoom-out;
}

.usn {
  user-select: none;
}

.usa {
  user-select: auto;
}

.ust {
  user-select: text;
}

.pen {
  pointer-events: none;
}

.pea {
  pointer-events: auto;
}
