.md-oh {
  overflow: hidden;
}

.md-os {
  overflow: scroll;
}

.md-oxh {
  overflow-x: hidden;
}

.md-oxs {
  overflow-x: scroll;
}

.md-oyh {
  overflow-y: hidden;
}

.md-oys {
  overflow-y: scroll;
}
