.oh {
  overflow: hidden;
}

.os {
  overflow: scroll;
}

.oxh {
  overflow-x: hidden;
}

.oxs {
  overflow-x: scroll;
}

.oyh {
  overflow-y: hidden;
}

.oys {
  overflow-y: scroll;
}

.oa {
  overflow: auto;
}
