.lg-c1 {
  width: 8.333333333333332%;
}

.lg-c2 {
  width: 16.666666666666664%;
}

.lg-c3 {
  width: 25%;
}

.lg-c4 {
  width: 33.33333333333333%;
}

.lg-c5 {
  width: 41.66666666666667%;
}

.lg-c6 {
  width: 50%;
}

.lg-c7 {
  width: 58.333333333333336%;
}

.lg-c8 {
  width: 66.66666666666666%;
}

.lg-c9 {
  width: 75%;
}

.lg-c10 {
  width: 83.33333333333334%;
}

.lg-c11 {
  width: 91.66666666666666%;
}

.lg-c12 {
  width: 100%;
}

.lg-co0 {
  margin-left: 0;
}

.lg-co1 {
  margin-left: 8.333333333333332%;
}

.lg-co2 {
  margin-left: 16.666666666666664%;
}

.lg-co3 {
  margin-left: 25%;
}

.lg-co4 {
  margin-left: 33.33333333333333%;
}

.lg-co5 {
  margin-left: 41.66666666666667%;
}

.lg-co6 {
  margin-left: 50%;
}

.lg-co7 {
  margin-left: 58.333333333333336%;
}

.lg-co8 {
  margin-left: 66.66666666666666%;
}

.lg-co9 {
  margin-left: 75%;
}

.lg-co10 {
  margin-left: 83.33333333333334%;
}

.lg-co11 {
  margin-left: 91.66666666666666%;
}

.lg-co12 {
  margin-left: 100%;
}
