.md-c1 {
  width: 8.333333333333332%;
}

.md-c2 {
  width: 16.666666666666664%;
}

.md-c3 {
  width: 25%;
}

.md-c4 {
  width: 33.33333333333333%;
}

.md-c5 {
  width: 41.66666666666667%;
}

.md-c6 {
  width: 50%;
}

.md-c7 {
  width: 58.333333333333336%;
}

.md-c8 {
  width: 66.66666666666666%;
}

.md-c9 {
  width: 75%;
}

.md-c10 {
  width: 83.33333333333334%;
}

.md-c11 {
  width: 91.66666666666666%;
}

.md-c12 {
  width: 100%;
}

.md-co0 {
  margin-left: 0;
}

.md-co1 {
  margin-left: 8.333333333333332%;
}

.md-co2 {
  margin-left: 16.666666666666664%;
}

.md-co3 {
  margin-left: 25%;
}

.md-co4 {
  margin-left: 33.33333333333333%;
}

.md-co5 {
  margin-left: 41.66666666666667%;
}

.md-co6 {
  margin-left: 50%;
}

.md-co7 {
  margin-left: 58.333333333333336%;
}

.md-co8 {
  margin-left: 66.66666666666666%;
}

.md-co9 {
  margin-left: 75%;
}

.md-co10 {
  margin-left: 83.33333333333334%;
}

.md-co11 {
  margin-left: 91.66666666666666%;
}

.md-co12 {
  margin-left: 100%;
}
