.xl-c1 {
  width: 8.333333333333332%;
}

.xl-c2 {
  width: 16.666666666666664%;
}

.xl-c3 {
  width: 25%;
}

.xl-c4 {
  width: 33.33333333333333%;
}

.xl-c5 {
  width: 41.66666666666667%;
}

.xl-c6 {
  width: 50%;
}

.xl-c7 {
  width: 58.333333333333336%;
}

.xl-c8 {
  width: 66.66666666666666%;
}

.xl-c9 {
  width: 75%;
}

.xl-c10 {
  width: 83.33333333333334%;
}

.xl-c11 {
  width: 91.66666666666666%;
}

.xl-c12 {
  width: 100%;
}

.xl-co0 {
  margin-left: 0;
}

.xl-co1 {
  margin-left: 8.333333333333332%;
}

.xl-co2 {
  margin-left: 16.666666666666664%;
}

.xl-co3 {
  margin-left: 25%;
}

.xl-co4 {
  margin-left: 33.33333333333333%;
}

.xl-co5 {
  margin-left: 41.66666666666667%;
}

.xl-co6 {
  margin-left: 50%;
}

.xl-co7 {
  margin-left: 58.333333333333336%;
}

.xl-co8 {
  margin-left: 66.66666666666666%;
}

.xl-co9 {
  margin-left: 75%;
}

.xl-co10 {
  margin-left: 83.33333333333334%;
}

.xl-co11 {
  margin-left: 91.66666666666666%;
}

.xl-co12 {
  margin-left: 100%;
}
