.c1 {
  width: 8.333333333333332%;
}

.c2 {
  width: 16.666666666666664%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 33.33333333333333%;
}

.c5 {
  width: 41.66666666666667%;
}

.c6 {
  width: 50%;
}

.c7 {
  width: 58.333333333333336%;
}

.c8 {
  width: 66.66666666666666%;
}

.c9 {
  width: 75%;
}

.c10 {
  width: 83.33333333333334%;
}

.c11 {
  width: 91.66666666666666%;
}

.c12 {
  width: 100%;
}

.co0 {
  margin-left: 0;
}

.co1 {
  margin-left: 8.333333333333332%;
}

.co2 {
  margin-left: 16.666666666666664%;
}

.co3 {
  margin-left: 25%;
}

.co4 {
  margin-left: 33.33333333333333%;
}

.co5 {
  margin-left: 41.66666666666667%;
}

.co6 {
  margin-left: 50%;
}

.co7 {
  margin-left: 58.333333333333336%;
}

.co8 {
  margin-left: 66.66666666666666%;
}

.co9 {
  margin-left: 75%;
}

.co10 {
  margin-left: 83.33333333333334%;
}

.co11 {
  margin-left: 91.66666666666666%;
}

.co12 {
  margin-left: 100%;
}
