.lg-bd {
  border-style: solid;
  border-width: 1px;
}

.lg-bdt {
  border-top-style: solid;
  border-top-width: 1px;
}

.lg-bdr {
  border-right-style: solid;
  border-right-width: 1px;
}

.lg-bdb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.lg-bdl {
  border-left-style: solid;
  border-left-width: 1px;
}

.lg-bdw0 {
  border-width: 0;
}

.lg-bdw0-25 {
  border-width: 0.0625rem;
}

.lg-bdw0-5 {
  border-width: 0.125rem;
}

.lg-bdw1 {
  border-width: 0.25rem;
}

.lg-bdw2 {
  border-width: 0.5rem;
}

.lg-bdw3 {
  border-width: 0.75rem;
}

.lg-bdw4 {
  border-width: 1rem;
}

.lg-bdrd0-125 {
  border-radius: 0.125rem;
}

.lg-bdrd0-25 {
  border-radius: 0.25rem;
}

.lg-bdrd0-5 {
  border-radius: 0.5rem;
}

.lg-bdrd0-75 {
  border-radius: 0.75rem;
}

.lg-bdrd1 {
  border-radius: 1rem;
}

.lg-bdrd100 {
  border-radius: 100%;
}
