.md-bd {
  border-style: solid;
  border-width: 1px;
}

.md-bdt {
  border-top-style: solid;
  border-top-width: 1px;
}

.md-bdr {
  border-right-style: solid;
  border-right-width: 1px;
}

.md-bdb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.md-bdl {
  border-left-style: solid;
  border-left-width: 1px;
}

.md-bdw0 {
  border-width: 0;
}

.md-bdw0-25 {
  border-width: 0.0625rem;
}

.md-bdw0-5 {
  border-width: 0.125rem;
}

.md-bdw1 {
  border-width: 0.25rem;
}

.md-bdw2 {
  border-width: 0.5rem;
}

.md-bdw3 {
  border-width: 0.75rem;
}

.md-bdw4 {
  border-width: 1rem;
}

.md-bdrd0-125 {
  border-radius: 0.125rem;
}

.md-bdrd0-25 {
  border-radius: 0.25rem;
}

.md-bdrd0-5 {
  border-radius: 0.5rem;
}

.md-bdrd0-75 {
  border-radius: 0.75rem;
}

.md-bdrd1 {
  border-radius: 1rem;
}

.md-bdrd100 {
  border-radius: 100%;
}
