.xl-bd {
  border-style: solid;
  border-width: 1px;
}

.xl-bdt {
  border-top-style: solid;
  border-top-width: 1px;
}

.xl-bdr {
  border-right-style: solid;
  border-right-width: 1px;
}

.xl-bdb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.xl-bdl {
  border-left-style: solid;
  border-left-width: 1px;
}

.xl-bdw0 {
  border-width: 0;
}

.xl-bdw0-25 {
  border-width: 0.0625rem;
}

.xl-bdw0-5 {
  border-width: 0.125rem;
}

.xl-bdw1 {
  border-width: 0.25rem;
}

.xl-bdw2 {
  border-width: 0.5rem;
}

.xl-bdw3 {
  border-width: 0.75rem;
}

.xl-bdw4 {
  border-width: 1rem;
}

.xl-bdrd0-125 {
  border-radius: 0.125rem;
}

.xl-bdrd0-25 {
  border-radius: 0.25rem;
}

.xl-bdrd0-5 {
  border-radius: 0.5rem;
}

.xl-bdrd0-75 {
  border-radius: 0.75rem;
}

.xl-bdrd1 {
  border-radius: 1rem;
}

.xl-bdrd100 {
  border-radius: 100%;
}
