.lg-bgsc {
  background-size: cover;
}

.lg-bgsct {
  background-size: contain;
}

.lg-bgpc {
  background-position: center;
}

.lg-bgpt {
  background-position: top;
}

.lg-bgpr {
  background-position: right;
}

.lg-bgpb {
  background-position: bottom;
}

.lg-bgpl {
  background-position: left;
}

.lg-bgrn {
  background-repeat: no-repeat;
}

.lg-bgrx {
  background-repeat: repeat-x;
}

.lg-bgry {
  background-repeat: repeat-y;
}
