.md-bgsc {
  background-size: cover;
}

.md-bgsct {
  background-size: contain;
}

.md-bgpc {
  background-position: center;
}

.md-bgpt {
  background-position: top;
}

.md-bgpr {
  background-position: right;
}

.md-bgpb {
  background-position: bottom;
}

.md-bgpl {
  background-position: left;
}

.md-bgrn {
  background-repeat: no-repeat;
}

.md-bgrx {
  background-repeat: repeat-x;
}

.md-bgry {
  background-repeat: repeat-y;
}
