.sm-bgsc {
  background-size: cover;
}

.sm-bgsct {
  background-size: contain;
}

.sm-bgpc {
  background-position: center;
}

.sm-bgpt {
  background-position: top;
}

.sm-bgpr {
  background-position: right;
}

.sm-bgpb {
  background-position: bottom;
}

.sm-bgpl {
  background-position: left;
}

.sm-bgrn {
  background-repeat: no-repeat;
}

.sm-bgrx {
  background-repeat: repeat-x;
}

.sm-bgry {
  background-repeat: repeat-y;
}
