.lg-df {
  display: flex;
}

.lg-db {
  display: block;
}

.lg-dib {
  display: inline-block;
}

.lg-di {
  display: inline;
}

.lg-dt {
  display: table;
}

.lg-dtc {
  display: table-cell;
}

.lg-dtr {
  display: table-row;
}

.lg-dn {
  display: none;
}
