.sm-df {
  display: flex;
}

.sm-db {
  display: block;
}

.sm-dib {
  display: inline-block;
}

.sm-di {
  display: inline;
}

.sm-dt {
  display: table;
}

.sm-dtc {
  display: table-cell;
}

.sm-dtr {
  display: table-row;
}

.sm-dn {
  display: none;
}
