.xl-df {
  display: flex;
}

.xl-db {
  display: block;
}

.xl-dib {
  display: inline-block;
}

.xl-di {
  display: inline;
}

.xl-dt {
  display: table;
}

.xl-dtc {
  display: table-cell;
}

.xl-dtr {
  display: table-row;
}

.xl-dn {
  display: none;
}
