.lg-fs1 {
  font-size: 1rem;
}

.lg-fs1-2 {
  font-size: 1.2rem;
}

.lg-fs1-6 {
  font-size: 1.6rem;
}

.lg-fs2-4 {
  font-size: 2.4rem;
}

.lg-fs3-2 {
  font-size: 3.2rem;
}

.lg-fs6-4 {
  font-size: 6.4rem;
}

.lg-lh1 {
  line-height: 1;
}

.lg-lh1-2 {
  line-height: 1.2;
}

.lg-lh1-5 {
  line-height: 1.5;
}

.lg-fsn {
  font-style: normal;
}

.lg-fsi {
  font-style: italic;
}

.lg-fwn {
  font-weight: normal;
}

.lg-fwb {
  font-weight: bold;
}

.lg-tal {
  text-align: left;
}

.lg-tac {
  text-align: center;
}

.lg-tar {
  text-align: right;
}

.lg-taj {
  text-align: justify;
}

.lg-toi {
  text-overflow: initial;
}

.lg-toc {
  text-overflow: clip;
}

.lg-toe {
  text-overflow: ellipsis;
}

.lg-tdu {
  text-decoration: underline;
}

.lg-tdo {
  text-decoration: overline;
}

.lg-tdlt {
  text-decoration: line-through;
}

.lg-tdn {
  text-decoration: none;
}

.lg-ttu {
  text-transform: uppercase;
}

.lg-ttl {
  text-transform: lowercase;
}

.lg-ttc {
  text-transform: capitalize;
}

.lg-ttn {
  text-transform: none;
}

.lg-vabl {
  vertical-align: baseline;
}

.lg-vat {
  vertical-align: top;
}

.lg-vam {
  vertical-align: middle;
}

.lg-vab {
  vertical-align: bottom;
}

.lg-wsn {
  white-space: normal;
}

.lg-wsnw {
  white-space: nowrap;
}

.lg-wsp {
  white-space: pre;
}

.lg-wsi {
  white-space: inherit;
}

.lg-tc1 {
  columns: 1;
}

.lg-tc2 {
  columns: 2;
}

.lg-tc3 {
  columns: 3;
}

.lg-tc4 {
  columns: 4;
}
