.md-fs1 {
  font-size: 1rem;
}

.md-fs1-2 {
  font-size: 1.2rem;
}

.md-fs1-6 {
  font-size: 1.6rem;
}

.md-fs2-4 {
  font-size: 2.4rem;
}

.md-fs3-2 {
  font-size: 3.2rem;
}

.md-fs6-4 {
  font-size: 6.4rem;
}

.md-lh1 {
  line-height: 1;
}

.md-lh1-2 {
  line-height: 1.2;
}

.md-lh1-5 {
  line-height: 1.5;
}

.md-fsn {
  font-style: normal;
}

.md-fsi {
  font-style: italic;
}

.md-fwn {
  font-weight: normal;
}

.md-fwb {
  font-weight: bold;
}

.md-tal {
  text-align: left;
}

.md-tac {
  text-align: center;
}

.md-tar {
  text-align: right;
}

.md-taj {
  text-align: justify;
}

.md-toi {
  text-overflow: initial;
}

.md-toc {
  text-overflow: clip;
}

.md-toe {
  text-overflow: ellipsis;
}

.md-tdu {
  text-decoration: underline;
}

.md-tdo {
  text-decoration: overline;
}

.md-tdlt {
  text-decoration: line-through;
}

.md-tdn {
  text-decoration: none;
}

.md-ttu {
  text-transform: uppercase;
}

.md-ttl {
  text-transform: lowercase;
}

.md-ttc {
  text-transform: capitalize;
}

.md-ttn {
  text-transform: none;
}

.md-vabl {
  vertical-align: baseline;
}

.md-vat {
  vertical-align: top;
}

.md-vam {
  vertical-align: middle;
}

.md-vab {
  vertical-align: bottom;
}

.md-wsn {
  white-space: normal;
}

.md-wsnw {
  white-space: nowrap;
}

.md-wsp {
  white-space: pre;
}

.md-wsi {
  white-space: inherit;
}

.md-tc1 {
  columns: 1;
}

.md-tc2 {
  columns: 2;
}

.md-tc3 {
  columns: 3;
}

.md-tc4 {
  columns: 4;
}
