.xl-fs0-75 {
  font-size: 0.75rem;
}

.xl-fs0-875 {
  font-size: 0.875rem;
}

.xl-fs1 {
  font-size: 1rem;
}

.xl-fs1-5 {
  font-size: 1.5rem;
}

.xl-fs2 {
  font-size: 2rem;
}

.xl-fs3 {
  font-size: 3rem;
}

.xl-fs4 {
  font-size: 4rem;
}

.xl-fs6 {
  font-size: 6rem;
}

.xl-lh1 {
  line-height: 1;
}

.xl-lh1-2 {
  line-height: 1.2;
}

.xl-lh1-5 {
  line-height: 1.5;
}

.xl-fsn {
  font-style: normal;
}

.xl-fsi {
  font-style: italic;
}

.xl-fwn {
  font-weight: normal;
}

.xl-fwb {
  font-weight: bold;
}

.xl-tal {
  text-align: left;
}

.xl-tac {
  text-align: center;
}

.xl-tar {
  text-align: right;
}

.xl-taj {
  text-align: justify;
}

.xl-toi {
  text-overflow: initial;
}

.xl-toc {
  text-overflow: clip;
}

.xl-toe {
  text-overflow: ellipsis;
}

.xl-tdu {
  text-decoration: underline;
}

.xl-tdo {
  text-decoration: overline;
}

.xl-tdlt {
  text-decoration: line-through;
}

.xl-tdn {
  text-decoration: none;
}

.xl-ttu {
  text-transform: uppercase;
}

.xl-ttl {
  text-transform: lowercase;
}

.xl-ttc {
  text-transform: capitalize;
}

.xl-ttn {
  text-transform: none;
}

.xl-vabl {
  vertical-align: baseline;
}

.xl-vat {
  vertical-align: top;
}

.xl-vam {
  vertical-align: middle;
}

.xl-vab {
  vertical-align: bottom;
}

.xl-wsn {
  white-space: normal;
}

.xl-wsnw {
  white-space: nowrap;
}

.xl-wsp {
  white-space: pre;
}

.xl-wsi {
  white-space: inherit;
}

.xl-tc1 {
  columns: 1;
}

.xl-tc2 {
  columns: 2;
}

.xl-tc3 {
  columns: 3;
}

.xl-tc4 {
  columns: 4;
}
