/**
 * Cursor
 */

@each $bp in var(--fn-breakpoints) {
  @media (--$bp) {
    .$(bp)-curp {
      cursor: pointer;
    }

    .$(bp)-curd {
      cursor: default;
    }

    .$(bp)-cura {
      cursor: alias;
    }

    .$(bp)-curzi {
      cursor: zoom-in;
    }

    .$(bp)-curzo {
      cursor: zoom-out;
    }

    .$(bp)-usn {
      user-select: none;
    }

    .$(bp)-usa {
      user-select: auto;
    }

    .$(bp)-ust {
      user-select: text;
    }

    .$(bp)-pen {
      pointer-events: none;
    }

    .$(bp)-pea {
      pointer-events: auto;
    }
  }
}
