/**
 * Display
 */

@each $bp in var(--fn-breakpoints) {
  @media (--$bp) {
    .$(bp)-df {
      display: flex;
    }

    .$(bp)-db {
      display: block;
    }

    .$(bp)-dib {
      display: inline-block;
    }

    .$(bp)-di {
      display: inline;
    }

    .$(bp)-dt {
      display: table;
    }

    .$(bp)-dtc {
      display: table-cell;
    }

    .$(bp)-dtr {
      display: table-row;
    }

    .$(bp)-dn {
      display: none;
    }
  }
}
