/**
 * Float
 */

@each $bp in var(--breakpoints) {
  @media (--$bp) {
    .$(bp)-fl {
      float: left;
    }

    .$(bp)-fr {
      float: right;
    }

    .$(bp)-fn {
      float: none;
    }

    .$(bp)-cf::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
