/**
 * Visibility
 */

@each $bp in var(--fn-breakpoints) {
  @media (--$bp) {
    .$(bp)-vh {
      visibility: hidden;
    }

    .$(bp)-vv {
      visibility: visible;
    }

    .$(bp)-vc {
      visibility: collapse;
    }
  }
}
