.sm-c1 {
  width: 8.333333333333332%;
}

.sm-c2 {
  width: 16.666666666666664%;
}

.sm-c3 {
  width: 25%;
}

.sm-c4 {
  width: 33.33333333333333%;
}

.sm-c5 {
  width: 41.66666666666667%;
}

.sm-c6 {
  width: 50%;
}

.sm-c7 {
  width: 58.333333333333336%;
}

.sm-c8 {
  width: 66.66666666666666%;
}

.sm-c9 {
  width: 75%;
}

.sm-c10 {
  width: 83.33333333333334%;
}

.sm-c11 {
  width: 91.66666666666666%;
}

.sm-c12 {
  width: 100%;
}

.sm-co0 {
  margin-left: 0;
}

.sm-co1 {
  margin-left: 8.333333333333332%;
}

.sm-co2 {
  margin-left: 16.666666666666664%;
}

.sm-co3 {
  margin-left: 25%;
}

.sm-co4 {
  margin-left: 33.33333333333333%;
}

.sm-co5 {
  margin-left: 41.66666666666667%;
}

.sm-co6 {
  margin-left: 50%;
}

.sm-co7 {
  margin-left: 58.333333333333336%;
}

.sm-co8 {
  margin-left: 66.66666666666666%;
}

.sm-co9 {
  margin-left: 75%;
}

.sm-co10 {
  margin-left: 83.33333333333334%;
}

.sm-co11 {
  margin-left: 91.66666666666666%;
}

.sm-co12 {
  margin-left: 100%;
}
