.lg-m0 {
  margin: 0;
}

.lg-m0-25 {
  margin: calc(var(--spacer) * 0.25);
}

.lg-m0-5 {
  margin: calc(var(--spacer) * 0.5);
}

.lg-m1 {
  margin: var(--spacer);
}

.lg-m1-5 {
  margin: calc(var(--spacer) * 1.5);
}

.lg-m2 {
  margin: calc(var(--spacer) * 2);
}

.lg-m3 {
  margin: calc(var(--spacer) * 3);
}

.lg-mt0 {
  margin-top: 0;
}

.lg-mt0-25 {
  margin-top: calc(var(--spacer) * 0.25);
}

.lg-mt0-5 {
  margin-top: calc(var(--spacer) * 0.5);
}

.lg-mt1 {
  margin-top: var(--spacer);
}

.lg-mt1-5 {
  margin-top: calc(var(--spacer) * 1.5);
}

.lg-mt2 {
  margin-top: calc(var(--spacer) * 2);
}

.lg-mt3 {
  margin-top: calc(var(--spacer) * 3);
}

.lg-mr0 {
  margin-right: 0;
}

.lg-mr0-25 {
  margin-right: calc(var(--spacer) * 0.25);
}

.lg-mr0-5 {
  margin-right: calc(var(--spacer) * 0.5);
}

.lg-mr1 {
  margin-right: var(--spacer);
}

.lg-mr1-5 {
  margin-right: calc(var(--spacer) * 1.5);
}

.lg-mr2 {
  margin-right: calc(var(--spacer) * 2);
}

.lg-mr3 {
  margin-right: calc(var(--spacer) * 3);
}

.lg-mb0 {
  margin-bottom: 0;
}

.lg-mb0-25 {
  margin-bottom: calc(var(--spacer) * 0.25);
}

.lg-mb0-5 {
  margin-bottom: calc(var(--spacer) * 0.5);
}

.lg-mb1 {
  margin-bottom: var(--spacer);
}

.lg-mb1-5 {
  margin-bottom: calc(var(--spacer) * 1.5);
}

.lg-mb2 {
  margin-bottom: calc(var(--spacer) * 2);
}

.lg-mb3 {
  margin-bottom: calc(var(--spacer) * 3);
}

.lg-ml0 {
  margin-left: 0;
}

.lg-ml0-25 {
  margin-left: calc(var(--spacer) * 0.25);
}

.lg-ml0-5 {
  margin-left: calc(var(--spacer) * 0.5);
}

.lg-ml1 {
  margin-left: var(--spacer);
}

.lg-ml1-5 {
  margin-left: calc(var(--spacer) * 1.5);
}

.lg-ml2 {
  margin-left: calc(var(--spacer) * 2);
}

.lg-ml3 {
  margin-left: calc(var(--spacer) * 3);
}

.lg-mx0 {
  margin-left: 0;
  margin-right: 0;
}

.lg-mx0-25 {
  margin-left: calc(var(--spacer) * 0.25);
  margin-right: calc(var(--spacer) * 0.25);
}

.lg-mx0-5 {
  margin-left: calc(var(--spacer) * 0.5);
  margin-right: calc(var(--spacer) * 0.5);
}

.lg-mx1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.lg-mx1-5 {
  margin-left: calc(var(--spacer) * 1.5);
  margin-right: calc(var(--spacer) * 1.5);
}

.lg-mx2 {
  margin-left: calc(var(--spacer) * 2);
  margin-right: calc(var(--spacer) * 2);
}

.lg-mx3 {
  margin-left: calc(var(--spacer) * 3);
  margin-right: calc(var(--spacer) * 3);
}

.lg-my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.lg-my0-25 {
  margin-top: calc(var(--spacer) * 0.25);
  margin-bottom: calc(var(--spacer) * 0.25);
}

.lg-my0-5 {
  margin-top: calc(var(--spacer) * 0.5);
  margin-bottom: calc(var(--spacer) * 0.5);
}

.lg-my1 {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.lg-my1-5 {
  margin-top: calc(var(--spacer) * 1.5);
  margin-bottom: calc(var(--spacer) * 1.5);
}

.lg-my2 {
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 2);
}

.lg-my3 {
  margin-top: calc(var(--spacer) * 3);
  margin-bottom: calc(var(--spacer) * 3);
}
