.md-m0 {
  margin: 0;
}

.md-m0-25 {
  margin: var(--spacer0-25x);
}

.md-m0-5 {
  margin: var(--spacer0-5x);
}

.md-m1 {
  margin: var(--spacer);
}

.md-m1-5 {
  margin: var(--spacer1-5x);
}

.md-m2 {
  margin: var(--spacer2x);
}

.md-m3 {
  margin: var(--spacer3x);
}

.md-mt0 {
  margin-top: 0;
}

.md-mt0-25 {
  margin-top: var(--spacer0-25x);
}

.md-mt0-5 {
  margin-top: var(--spacer0-5x);
}

.md-mt1 {
  margin-top: var(--spacer);
}

.md-mt1-5 {
  margin-top: var(--spacer1-5x);
}

.md-mt2 {
  margin-top: var(--spacer2x);
}

.md-mt3 {
  margin-top: var(--spacer3x);
}

.md-mr0 {
  margin-right: 0;
}

.md-mr0-25 {
  margin-right: var(--spacer0-25x);
}

.md-mr0-5 {
  margin-right: var(--spacer0-5x);
}

.md-mr1 {
  margin-right: var(--spacer);
}

.md-mr1-5 {
  margin-right: var(--spacer1-5x);
}

.md-mr2 {
  margin-right: var(--spacer2x);
}

.md-mr3 {
  margin-right: var(--spacer3x);
}

.md-mb0 {
  margin-bottom: 0;
}

.md-mb0-25 {
  margin-bottom: var(--spacer0-25x);
}

.md-mb0-5 {
  margin-bottom: var(--spacer0-5x);
}

.md-mb1 {
  margin-bottom: var(--spacer);
}

.md-mb1-5 {
  margin-bottom: var(--spacer1-5x);
}

.md-mb2 {
  margin-bottom: var(--spacer2x);
}

.md-mb3 {
  margin-bottom: var(--spacer3x);
}

.md-ml0 {
  margin-left: 0;
}

.md-ml0-25 {
  margin-left: var(--spacer0-25x);
}

.md-ml0-5 {
  margin-left: var(--spacer0-5x);
}

.md-ml1 {
  margin-left: var(--spacer);
}

.md-ml1-5 {
  margin-left: var(--spacer1-5x);
}

.md-ml2 {
  margin-left: var(--spacer2x);
}

.md-ml3 {
  margin-left: var(--spacer3x);
}

.md-mx0 {
  margin-left: 0;
  margin-right: 0;
}

.md-mx0-25 {
  margin-left: var(--spacer0-25x);
  margin-right: var(--spacer0-25x);
}

.md-mx0-5 {
  margin-left: var(--spacer0-5x);
  margin-right: var(--spacer0-5x);
}

.md-mx1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.md-mx1-5 {
  margin-left: var(--spacer1-5x);
  margin-right: var(--spacer1-5x);
}

.md-mx2 {
  margin-left: var(--spacer2x);
  margin-right: var(--spacer2x);
}

.md-mx3 {
  margin-left: var(--spacer3x);
  margin-right: var(--spacer3x);
}

.md-my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.md-my0-25 {
  margin-top: var(--spacer0-25x);
  margin-bottom: var(--spacer0-25x);
}

.md-my0-5 {
  margin-top: var(--spacer0-5x);
  margin-bottom: var(--spacer0-5x);
}

.md-my1 {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.md-my1-5 {
  margin-top: var(--spacer1-5x);
  margin-bottom: var(--spacer1-5x);
}

.md-my2 {
  margin-top: var(--spacer2x);
  margin-bottom: var(--spacer2x);
}

.md-my3 {
  margin-top: var(--spacer3x);
  margin-bottom: var(--spacer3x);
}

.md-mla {
  margin-left: auto;
}

.md-mra {
  margin-right: auto;
}

.md-mxa {
  margin-right: auto;
  margin-left: auto;
}
