.sm-m0 {
  margin: 0;
}

.sm-m0-25 {
  margin: var(--spacer0-25x);
}

.sm-m0-5 {
  margin: var(--spacer0-5x);
}

.sm-m1 {
  margin: var(--spacer);
}

.sm-m1-5 {
  margin: var(--spacer1-5x);
}

.sm-m2 {
  margin: var(--spacer2x);
}

.sm-m3 {
  margin: var(--spacer3x);
}

.sm-mt0 {
  margin-top: 0;
}

.sm-mt0-25 {
  margin-top: var(--spacer0-25x);
}

.sm-mt0-5 {
  margin-top: var(--spacer0-5x);
}

.sm-mt1 {
  margin-top: var(--spacer);
}

.sm-mt1-5 {
  margin-top: var(--spacer1-5x);
}

.sm-mt2 {
  margin-top: var(--spacer2x);
}

.sm-mt3 {
  margin-top: var(--spacer3x);
}

.sm-mr0 {
  margin-right: 0;
}

.sm-mr0-25 {
  margin-right: var(--spacer0-25x);
}

.sm-mr0-5 {
  margin-right: var(--spacer0-5x);
}

.sm-mr1 {
  margin-right: var(--spacer);
}

.sm-mr1-5 {
  margin-right: var(--spacer1-5x);
}

.sm-mr2 {
  margin-right: var(--spacer2x);
}

.sm-mr3 {
  margin-right: var(--spacer3x);
}

.sm-mb0 {
  margin-bottom: 0;
}

.sm-mb0-25 {
  margin-bottom: var(--spacer0-25x);
}

.sm-mb0-5 {
  margin-bottom: var(--spacer0-5x);
}

.sm-mb1 {
  margin-bottom: var(--spacer);
}

.sm-mb1-5 {
  margin-bottom: var(--spacer1-5x);
}

.sm-mb2 {
  margin-bottom: var(--spacer2x);
}

.sm-mb3 {
  margin-bottom: var(--spacer3x);
}

.sm-ml0 {
  margin-left: 0;
}

.sm-ml0-25 {
  margin-left: var(--spacer0-25x);
}

.sm-ml0-5 {
  margin-left: var(--spacer0-5x);
}

.sm-ml1 {
  margin-left: var(--spacer);
}

.sm-ml1-5 {
  margin-left: var(--spacer1-5x);
}

.sm-ml2 {
  margin-left: var(--spacer2x);
}

.sm-ml3 {
  margin-left: var(--spacer3x);
}

.sm-mx0 {
  margin-left: 0;
  margin-right: 0;
}

.sm-mx0-25 {
  margin-left: var(--spacer0-25x);
  margin-right: var(--spacer0-25x);
}

.sm-mx0-5 {
  margin-left: var(--spacer0-5x);
  margin-right: var(--spacer0-5x);
}

.sm-mx1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.sm-mx1-5 {
  margin-left: var(--spacer1-5x);
  margin-right: var(--spacer1-5x);
}

.sm-mx2 {
  margin-left: var(--spacer2x);
  margin-right: var(--spacer2x);
}

.sm-mx3 {
  margin-left: var(--spacer3x);
  margin-right: var(--spacer3x);
}

.sm-my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.sm-my0-25 {
  margin-top: var(--spacer0-25x);
  margin-bottom: var(--spacer0-25x);
}

.sm-my0-5 {
  margin-top: var(--spacer0-5x);
  margin-bottom: var(--spacer0-5x);
}

.sm-my1 {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.sm-my1-5 {
  margin-top: var(--spacer1-5x);
  margin-bottom: var(--spacer1-5x);
}

.sm-my2 {
  margin-top: var(--spacer2x);
  margin-bottom: var(--spacer2x);
}

.sm-my3 {
  margin-top: var(--spacer3x);
  margin-bottom: var(--spacer3x);
}

.sm-mla {
  margin-left: auto;
}

.sm-mra {
  margin-right: auto;
}

.sm-mxa {
  margin-right: auto;
  margin-left: auto;
}
