.xl-m0 {
  margin: 0;
}

.xl-m0-25 {
  margin: var(--spacer0-25x);
}

.xl-m0-5 {
  margin: var(--spacer0-5x);
}

.xl-m1 {
  margin: var(--spacer);
}

.xl-m1-5 {
  margin: var(--spacer1-5x);
}

.xl-m2 {
  margin: var(--spacer2x);
}

.xl-m3 {
  margin: var(--spacer3x);
}

.xl-mt0 {
  margin-top: 0;
}

.xl-mt0-25 {
  margin-top: var(--spacer0-25x);
}

.xl-mt0-5 {
  margin-top: var(--spacer0-5x);
}

.xl-mt1 {
  margin-top: var(--spacer);
}

.xl-mt1-5 {
  margin-top: var(--spacer1-5x);
}

.xl-mt2 {
  margin-top: var(--spacer2x);
}

.xl-mt3 {
  margin-top: var(--spacer3x);
}

.xl-mr0 {
  margin-right: 0;
}

.xl-mr0-25 {
  margin-right: var(--spacer0-25x);
}

.xl-mr0-5 {
  margin-right: var(--spacer0-5x);
}

.xl-mr1 {
  margin-right: var(--spacer);
}

.xl-mr1-5 {
  margin-right: var(--spacer1-5x);
}

.xl-mr2 {
  margin-right: var(--spacer2x);
}

.xl-mr3 {
  margin-right: var(--spacer3x);
}

.xl-mb0 {
  margin-bottom: 0;
}

.xl-mb0-25 {
  margin-bottom: var(--spacer0-25x);
}

.xl-mb0-5 {
  margin-bottom: var(--spacer0-5x);
}

.xl-mb1 {
  margin-bottom: var(--spacer);
}

.xl-mb1-5 {
  margin-bottom: var(--spacer1-5x);
}

.xl-mb2 {
  margin-bottom: var(--spacer2x);
}

.xl-mb3 {
  margin-bottom: var(--spacer3x);
}

.xl-ml0 {
  margin-left: 0;
}

.xl-ml0-25 {
  margin-left: var(--spacer0-25x);
}

.xl-ml0-5 {
  margin-left: var(--spacer0-5x);
}

.xl-ml1 {
  margin-left: var(--spacer);
}

.xl-ml1-5 {
  margin-left: var(--spacer1-5x);
}

.xl-ml2 {
  margin-left: var(--spacer2x);
}

.xl-ml3 {
  margin-left: var(--spacer3x);
}

.xl-mx0 {
  margin-left: 0;
  margin-right: 0;
}

.xl-mx0-25 {
  margin-left: var(--spacer0-25x);
  margin-right: var(--spacer0-25x);
}

.xl-mx0-5 {
  margin-left: var(--spacer0-5x);
  margin-right: var(--spacer0-5x);
}

.xl-mx1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.xl-mx1-5 {
  margin-left: var(--spacer1-5x);
  margin-right: var(--spacer1-5x);
}

.xl-mx2 {
  margin-left: var(--spacer2x);
  margin-right: var(--spacer2x);
}

.xl-mx3 {
  margin-left: var(--spacer3x);
  margin-right: var(--spacer3x);
}

.xl-my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.xl-my0-25 {
  margin-top: var(--spacer0-25x);
  margin-bottom: var(--spacer0-25x);
}

.xl-my0-5 {
  margin-top: var(--spacer0-5x);
  margin-bottom: var(--spacer0-5x);
}

.xl-my1 {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.xl-my1-5 {
  margin-top: var(--spacer1-5x);
  margin-bottom: var(--spacer1-5x);
}

.xl-my2 {
  margin-top: var(--spacer2x);
  margin-bottom: var(--spacer2x);
}

.xl-my3 {
  margin-top: var(--spacer3x);
  margin-bottom: var(--spacer3x);
}

.xl-mla {
  margin-left: auto;
}

.xl-mra {
  margin-right: auto;
}

.xl-mxa {
  margin-right: auto;
  margin-left: auto;
}
