.sm-x {
  display: flex;
}

.sm-xac {
  align-items: center;
}

.sm-xab {
  align-items: baseline;
}

.sm-xas {
  align-items: stretch;
}

.sm-xafs {
  align-items: flex-start;
}

.sm-xafe {
  align-items: flex-end;
}

.sm-xdr {
  flex-direction: row;
}

.sm-xdrr {
  flex-direction: row-reverse;
}

.sm-xdc {
  flex-direction: column;
}

.sm-xdcr {
  flex-direction: column-reverse;
}

.sm-xjc {
  justify-content: center;
}

.sm-xjb {
  justify-content: space-between;
}

.sm-xja {
  justify-content: space-around;
}

.sm-xjs {
  justify-content: flex-start;
}

.sm-xje {
  justify-content: flex-end;
}

.sm-xw {
  flex-wrap: wrap;
}

.sm-xwr {
  flex-wrap: wrap-reverse;
}

.sm-xwn {
  flex-wrap: nowrap;
}

.sm-xi {
  flex: initial;
}

.sm-xx {
  flex: 1;
}

.sm-xa {
  flex: auto;
}

.sm-xn {
  flex: none;
}

.sm-xo0 {
  order: 0;
}

.sm-xo1 {
  order: 1;
}

.sm-xo2 {
  order: 2;
}

.sm-xo3 {
  order: 3;
}

.sm-xo4 {
  order: 4;
}

.sm-xot {
  order: -1;
}

.sm-xob {
  order: 99;
}
