.xl-x {
  display: flex;
}

.xl-xac {
  align-items: center;
}

.xl-xab {
  align-items: baseline;
}

.xl-xas {
  align-items: stretch;
}

.xl-xafs {
  align-items: flex-start;
}

.xl-xafe {
  align-items: flex-end;
}

.xl-xdr {
  flex-direction: row;
}

.xl-xdrr {
  flex-direction: row-reverse;
}

.xl-xdc {
  flex-direction: column;
}

.xl-xdcr {
  flex-direction: column-reverse;
}

.xl-xjc {
  justify-content: center;
}

.xl-xjb {
  justify-content: space-between;
}

.xl-xja {
  justify-content: space-around;
}

.xl-xjs {
  justify-content: flex-start;
}

.xl-xje {
  justify-content: flex-end;
}

.xl-xw {
  flex-wrap: wrap;
}

.xl-xwr {
  flex-wrap: wrap-reverse;
}

.xl-xwn {
  flex-wrap: nowrap;
}

.xl-xi {
  flex: initial;
}

.xl-xx {
  flex: 1;
}

.xl-xa {
  flex: auto;
}

.xl-xn {
  flex: none;
}

.xl-xo0 {
  order: 0;
}

.xl-xo1 {
  order: 1;
}

.xl-xo2 {
  order: 2;
}

.xl-xo3 {
  order: 3;
}

.xl-xo4 {
  order: 4;
}

.xl-xot {
  order: -1;
}

.xl-xob {
  order: 99;
}
