:root {
  --white: #fff;
}

@define-mixin color $colorName, $colorHex {
  .cl-$(colorName) {
    color: $colorHex;
  }

  .bg-$(colorName) {
    background-color: $colorHex;
  }

  .bd-$(colorName) {
    border-color: $colorHex;
  }

  .clh-$(colorName):hover,
  .clh-$(colorName):focus {
    color: $colorHex;
  }

  .bgh-$(colorName):hover,
  .bgh-$(colorName):focus {
    background-color: $colorHex;
  }

  .bdh-$(colorName):hover,
  .bdh-$(colorName):focus {
    border-color: $colorHex;
  }
}

@mixin color white, #fff;
@mixin color black, #000;
@mixin color red, #e84118;
@mixin color dark-red, #c23616;
@mixin color blue, #00a8ff;
@mixin color dark-blue, #0097e6;
@mixin color green, #4cd137;
@mixin color dark-green, #44bd32;
@mixin color yellow, #fbc531;
@mixin color dark-yellow, #e1b12c;
@mixin color purple, #9c88ff;
@mixin color dark-purple, #8c7ae6;
@mixin color grey, #7f8fa6;
@mixin color dark-grey, #718093;
@mixin color light, #f5f6fa;
@mixin color dark-light, #dcdde1;
@mixin color dark, #353b48;
@mixin color dark-dark, #2f3640;

