@define-mixin color $colorName, $colorHex {
  .cl-$(colorName) {
    color: $colorHex;
  }

  .bg-$(colorName) {
    background-color: $colorHex;
  }

  .bd-$(colorName) {
    border-color: $colorHex;
  }

  .clh-$(colorName):hover,
  .clh-$(colorName):focus {
    color: $colorHex;
  }

  .bgh-$(colorName):hover,
  .bgh-$(colorName):focus {
    background-color: $colorHex;
  }

  .bdh-$(colorName):hover,
  .bdh-$(colorName):focus {
    border-color: $colorHex;
  }
}

@mixin color transparent, transparent;
@mixin color white, var(--white);
@mixin color black, var(--black);
@mixin color red, var(--red);
@mixin color dark-red, var(--dark-red);
@mixin color blue, var(--blue);
@mixin color dark-blue, var(--dark-blue);
@mixin color green, var(--green);
@mixin color dark-green, var(--dark-green);
@mixin color yellow, var(--yellow);
@mixin color dark-yellow, var(--dark-yellow);
@mixin color purple, var(--purple);
@mixin color dark-purple, var(--dark-purple);
@mixin color grey, var(--grey);
@mixin color dark-grey, var(--dark-grey);
@mixin color light, var(--light);
@mixin color dark-light, var(--dark-light);
@mixin color dark, var(--dark);
@mixin color dark-dark, var(--dark-dark);
@mixin color inherit, inherit;
