.md-m-0-25 {
  margin: calc(-1 * var(--spacer0-25x));
}

.md-m-0-5 {
  margin: calc(-1 * var(--spacer0-5x));
}

.md-m-1 {
  margin: calc(-1 * var(--spacer));
}

.md-m-1-5 {
  margin: calc(-1 * var(--spacer1-5x));
}

.md-m-2 {
  margin: calc(-1 * var(--spacer2x));
}

.md-m-3 {
  margin: calc(-1 * var(--spacer3x));
}

.md-mt-0-25 {
  margin-top: calc(-1 * var(--spacer0-25x));
}

.md-mt-0-5 {
  margin-top: calc(-1 * var(--spacer0-5x));
}

.md-mt-1 {
  margin-top: calc(-1 * var(--spacer));
}

.md-mt-1-5 {
  margin-top: calc(-1 * var(--spacer1-5x));
}

.md-mt-2 {
  margin-top: calc(-1 * var(--spacer2x));
}

.md-mt-3 {
  margin-top: calc(-1 * var(--spacer3x));
}

.md-mr-0-25 {
  margin-right: calc(-1 * var(--spacer0-25x));
}

.md-mr-0-5 {
  margin-right: calc(-1 * var(--spacer0-5x));
}

.md-mr-1 {
  margin-right: calc(-1 * var(--spacer));
}

.md-mr-1-5 {
  margin-right: calc(-1 * var(--spacer1-5x));
}

.md-mr-2 {
  margin-right: calc(-1 * var(--spacer2x));
}

.md-mr-3 {
  margin-right: calc(-1 * var(--spacer3x));
}

.md-mb-0-25 {
  margin-bottom: calc(-1 * var(--spacer0-25x));
}

.md-mb-0-5 {
  margin-bottom: calc(-1 * var(--spacer0-5x));
}

.md-mb-1 {
  margin-bottom: calc(-1 * var(--spacer));
}

.md-mb-1-5 {
  margin-bottom: calc(-1 * var(--spacer1-5x));
}

.md-mb-2 {
  margin-bottom: calc(-1 * var(--spacer2x));
}

.md-mb-3 {
  margin-bottom: calc(-1 * var(--spacer3x));
}

.md-ml-0-25 {
  margin-left: calc(-1 * var(--spacer0-25x));
}

.md-ml-0-5 {
  margin-left: calc(-1 * var(--spacer0-5x));
}

.md-ml-1 {
  margin-left: calc(-1 * var(--spacer));
}

.md-ml-1-5 {
  margin-left: calc(-1 * var(--spacer1-5x));
}

.md-ml-2 {
  margin-left: calc(-1 * var(--spacer2x));
}

.md-ml-3 {
  margin-left: calc(-1 * var(--spacer3x));
}

.md-mx-0-25 {
  margin-left: calc(-1 * var(--spacer0-25x));
  margin-right: calc(-1 * var(--spacer0-25x));
}

.md-mx-0-5 {
  margin-left: calc(-1 * var(--spacer0-5x));
  margin-right: calc(-1 * var(--spacer0-5x));
}

.md-mx-1 {
  margin-left: calc(-1 * var(--spacer));
  margin-right: calc(-1 * var(--spacer));
}

.md-mx-1-5 {
  margin-left: calc(-1 * var(--spacer1-5x));
  margin-right: calc(-1 * var(--spacer1-5x));
}

.md-mx-2 {
  margin-left: calc(-1 * var(--spacer2x));
  margin-right: calc(-1 * var(--spacer2x));
}

.md-mx-3 {
  margin-left: calc(-1 * var(--spacer3x));
  margin-right: calc(-1 * var(--spacer3x));
}

.md-my-0-25 {
  margin-top: calc(-1 * var(--spacer0-25x));
  margin-bottom: calc(-1 * var(--spacer0-25x));
}

.md-my-0-5 {
  margin-top: calc(-1 * var(--spacer0-5x));
  margin-bottom: calc(-1 * var(--spacer0-5x));
}

.md-my-1 {
  margin-top: calc(-1 * var(--spacer));
  margin-bottom: calc(-1 * var(--spacer));
}

.md-my-1-5 {
  margin-top: calc(-1 * var(--spacer1-5x));
  margin-bottom: calc(-1 * var(--spacer1-5x));
}

.md-my-2 {
  margin-top: calc(-1 * var(--spacer2x));
  margin-bottom: calc(-1 * var(--spacer2x));
}

.md-my-3 {
  margin-top: calc(-1 * var(--spacer3x));
  margin-bottom: calc(-1 * var(--spacer3x));
}

