.m-0-25 {
  margin: calc(-1 * var(--spacer0-25x));
}

.m-0-5 {
  margin: calc(-1 * var(--spacer0-5x));
}

.m-1 {
  margin: calc(-1 * var(--spacer));
}

.m-1-5 {
  margin: calc(-1 * var(--spacer1-5x));
}

.m-2 {
  margin: calc(-1 * var(--spacer2x));
}

.m-3 {
  margin: calc(-1 * var(--spacer3x));
}

.mt-0-25 {
  margin-top: calc(-1 * var(--spacer0-25x));
}

.mt-0-5 {
  margin-top: calc(-1 * var(--spacer0-5x));
}

.mt-1 {
  margin-top: calc(-1 * var(--spacer));
}

.mt-1-5 {
  margin-top: calc(-1 * var(--spacer1-5x));
}

.mt-2 {
  margin-top: calc(-1 * var(--spacer2x));
}

.mt-3 {
  margin-top: calc(-1 * var(--spacer3x));
}

.mr-0-25 {
  margin-right: calc(-1 * var(--spacer0-25x));
}

.mr-0-5 {
  margin-right: calc(-1 * var(--spacer0-5x));
}

.mr-1 {
  margin-right: calc(-1 * var(--spacer));
}

.mr-1-5 {
  margin-right: calc(-1 * var(--spacer1-5x));
}

.mr-2 {
  margin-right: calc(-1 * var(--spacer2x));
}

.mr-3 {
  margin-right: calc(-1 * var(--spacer3x));
}

.mb-0-25 {
  margin-bottom: calc(-1 * var(--spacer0-25x));
}

.mb-0-5 {
  margin-bottom: calc(-1 * var(--spacer0-5x));
}

.mb-1 {
  margin-bottom: calc(-1 * var(--spacer));
}

.mb-1-5 {
  margin-bottom: calc(-1 * var(--spacer1-5x));
}

.mb-2 {
  margin-bottom: calc(-1 * var(--spacer2x));
}

.mb-3 {
  margin-bottom: calc(-1 * var(--spacer3x));
}

.ml-0-25 {
  margin-left: calc(-1 * var(--spacer0-25x));
}

.ml-0-5 {
  margin-left: calc(-1 * var(--spacer0-5x));
}

.ml-1 {
  margin-left: calc(-1 * var(--spacer));
}

.ml-1-5 {
  margin-left: calc(-1 * var(--spacer1-5x));
}

.ml-2 {
  margin-left: calc(-1 * var(--spacer2x));
}

.ml-3 {
  margin-left: calc(-1 * var(--spacer3x));
}

.mx-0-25 {
  margin-left: calc(-1 * var(--spacer0-25x));
  margin-right: calc(-1 * var(--spacer0-25x));
}

.mx-0-5 {
  margin-left: calc(-1 * var(--spacer0-5x));
  margin-right: calc(-1 * var(--spacer0-5x));
}

.mx-1 {
  margin-left: calc(-1 * var(--spacer));
  margin-right: calc(-1 * var(--spacer));
}

.mx-1-5 {
  margin-left: calc(-1 * var(--spacer1-5x));
  margin-right: calc(-1 * var(--spacer1-5x));
}

.mx-2 {
  margin-left: calc(-1 * var(--spacer2x));
  margin-right: calc(-1 * var(--spacer2x));
}

.mx-3 {
  margin-left: calc(-1 * var(--spacer3x));
  margin-right: calc(-1 * var(--spacer3x));
}

.my-0-25 {
  margin-top: calc(-1 * var(--spacer0-25x));
  margin-bottom: calc(-1 * var(--spacer0-25x));
}

.my-0-5 {
  margin-top: calc(-1 * var(--spacer0-5x));
  margin-bottom: calc(-1 * var(--spacer0-5x));
}

.my-1 {
  margin-top: calc(-1 * var(--spacer));
  margin-bottom: calc(-1 * var(--spacer));
}

.my-1-5 {
  margin-top: calc(-1 * var(--spacer1-5x));
  margin-bottom: calc(-1 * var(--spacer1-5x));
}

.my-2 {
  margin-top: calc(-1 * var(--spacer2x));
  margin-bottom: calc(-1 * var(--spacer2x));
}

.my-3 {
  margin-top: calc(-1 * var(--spacer3x));
  margin-bottom: calc(-1 * var(--spacer3x));
}

