.lg-lspo {
  list-style-position: outside;
}

.lg-lspi {
  list-style-position: inside;
}

.lg-lstc {
  list-style-type: circle;
}

.lg-lstd {
  list-style-type: disc;
}

.lg-lsts {
  list-style-type: square;
}

.lg-lstdi {
  list-style-type: decimal;
}

.lg-lstdlz {
  list-style-type: decimal-leading-zero;
}

.lg-lstn {
  list-style-type: none;
}

.lg-lsti {
  list-style-type: inherit;
}
