.md-lspo {
  list-style-position: outside;
}

.md-lspi {
  list-style-position: inside;
}

.md-lstc {
  list-style-type: circle;
}

.md-lstd {
  list-style-type: disc;
}

.md-lsts {
  list-style-type: square;
}

.md-lstdi {
  list-style-type: decimal;
}

.md-lstdlz {
  list-style-type: decimal-leading-zero;
}

.md-lstla {
  list-style-type: lower-alpha;
}

.md-lstua {
  list-style-type: upper-alpha;
}

.md-lstlr {
  list-style-type: lower-roman;
}

.md-lstur {
  list-style-type: upper-roman;
}

.md-lstn {
  list-style-type: none;
}

.md-lsti {
  list-style-type: inherit;
}
