.md {
  &-lspo {
    list-style-position: outside;
  }

  &-lspi {
    list-style-position: inside;
  }

  &-lstc {
    list-style-type: circle;
  }

  &-lstd {
    list-style-type: disc;
  }

  &-lsts {
    list-style-type: square;
  }

  &-lsta {
    list-style-type: armenian;
  }

  &-lstci {
    list-style-type: cjk-ideographic;
  }

  &-lstdi {
    list-style-type: decimal;
  }

  &-lstdlz {
    list-style-type: decimal-leading-zero;
  }

  &-lstg {
    list-style-type: georgian;
  }

  &-lsthb {
    list-style-type: hebrew;
  }

  &-lsthg {
    list-style-type: hiragana;
  }

  &-lsthi {
    list-style-type: hiragana-iroha;
  }

  &-lstk {
    list-style-type: katakana;
  }

  &-lstki {
    list-style-type: katakana-iroha;
  }

  &-lstla {
    list-style-type: lower-alpha;
  }

  &-lstlg {
    list-style-type: lower-greek;
  }

  &-lstll {
    list-style-type: lower-latin;
  }

  &-lstlr {
    list-style-type: lower-roman;
  }

  &-lstua {
    list-style-type: upper-alpha;
  }

  &-lstug {
    list-style-type: upper-greek;
  }

  &-lstul {
    list-style-type: upper-latin;
  }

  &-lstur {
    list-style-type: upper-roman;
  }

  &-lstn {
    list-style-type: none;
  }

  &-lsti {
    list-style-type: inherit;
  }
}
