.sm-lspo {
  list-style-position: outside;
}

.sm-lspi {
  list-style-position: inside;
}

.sm-lstc {
  list-style-type: circle;
}

.sm-lstd {
  list-style-type: disc;
}

.sm-lsts {
  list-style-type: square;
}

.sm-lstdi {
  list-style-type: decimal;
}

.sm-lstdlz {
  list-style-type: decimal-leading-zero;
}

.sm-lstla {
  list-style-type: lower-alpha;
}

.sm-lstua {
  list-style-type: upper-alpha;
}

.sm-lstlr {
  list-style-type: lower-roman;
}

.sm-lstur {
  list-style-type: upper-roman;
}

.sm-lstn {
  list-style-type: none;
}

.sm-lsti {
  list-style-type: inherit;
}
