.xl-lspo {
  list-style-position: outside;
}

.xl-lspi {
  list-style-position: inside;
}

.xl-lstc {
  list-style-type: circle;
}

.xl-lstd {
  list-style-type: disc;
}

.xl-lsts {
  list-style-type: square;
}

.xl-lstdi {
  list-style-type: decimal;
}

.xl-lstdlz {
  list-style-type: decimal-leading-zero;
}

.xl-lstn {
  list-style-type: none;
}

.xl-lsti {
  list-style-type: inherit;
}
