.lspo {
  list-style-position: outside;
}

.lspi {
  list-style-position: inside;
}

.lstc {
  list-style-type: circle;
}

.lstd {
  list-style-type: disc;
}

.lsts {
  list-style-type: square;
}

.lstdi {
  list-style-type: decimal;
}

.lstdlz {
  list-style-type: decimal-leading-zero;
}

.lstn {
  list-style-type: none;
}

.lsti {
  list-style-type: inherit;
}
