.md-p0 {
  padding: 0;
}

.md-p0-25 {
  padding: var(--spacer0-25x);
}

.md-p0-5 {
  padding: var(--spacer0-5x);
}

.md-p1 {
  padding: var(--spacer);
}

.md-p1-5 {
  padding: var(--spacer1-5x);
}

.md-p2 {
  padding: var(--spacer2x);
}

.md-p3 {
  padding: var(--spacer3x);
}

.md-pt0 {
  padding-top: 0;
}

.md-pt0-25 {
  padding-top: var(--spacer0-25x);
}

.md-pt0-5 {
  padding-top: var(--spacer0-5x);
}

.md-pt1 {
  padding-top: var(--spacer);
}

.md-pt1-5 {
  padding-top: var(--spacer1-5x);
}

.md-pt2 {
  padding-top: var(--spacer2x);
}

.md-pt3 {
  padding-top: var(--spacer3x);
}

.md-pr0 {
  padding-right: 0;
}

.md-pr0-25 {
  padding-right: var(--spacer0-25x);
}

.md-pr0-5 {
  padding-right: var(--spacer0-5x);
}

.md-pr1 {
  padding-right: var(--spacer);
}

.md-pr1-5 {
  padding-right: var(--spacer1-5x);
}

.md-pr2 {
  padding-right: var(--spacer2x);
}

.md-pr3 {
  padding-right: var(--spacer3x);
}

.md-pb0 {
  padding-bottom: 0;
}

.md-pb0-25 {
  padding-bottom: var(--spacer0-25x);
}

.md-pb0-5 {
  padding-bottom: var(--spacer0-5x);
}

.md-pb1 {
  padding-bottom: var(--spacer);
}

.md-pb1-5 {
  padding-bottom: var(--spacer1-5x);
}

.md-pb2 {
  padding-bottom: var(--spacer2x);
}

.md-pb3 {
  padding-bottom: var(--spacer3x);
}

.md-pl0 {
  padding-left: 0;
}

.md-pl0-25 {
  padding-left: var(--spacer0-25x);
}

.md-pl0-5 {
  padding-left: var(--spacer0-5x);
}

.md-pl1 {
  padding-left: var(--spacer);
}

.md-pl1-5 {
  padding-left: var(--spacer1-5x);
}

.md-pl2 {
  padding-left: var(--spacer2x);
}

.md-pl3 {
  padding-left: var(--spacer3x);
}

.md-px0 {
  padding-left: 0;
  padding-right: 0;
}

.md-px0-25 {
  padding-left: var(--spacer0-25x);
  padding-right: var(--spacer0-25x);
}

.md-px0-5 {
  padding-left: var(--spacer0-5x);
  padding-right: var(--spacer0-5x);
}

.md-px1 {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.md-px1-5 {
  padding-left: var(--spacer1-5x);
  padding-right: var(--spacer1-5x);
}

.md-px2 {
  padding-left: var(--spacer2x);
  padding-right: var(--spacer2x);
}

.md-px3 {
  padding-left: var(--spacer3x);
  padding-right: var(--spacer3x);
}

.md-py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.md-py0-25 {
  padding-top: var(--spacer0-25x);
  padding-bottom: var(--spacer0-25x);
}

.md-py0-5 {
  padding-top: var(--spacer0-5x);
  padding-bottom: var(--spacer0-5x);
}

.md-py1 {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.md-py1-5 {
  padding-top: var(--spacer1-5x);
  padding-bottom: var(--spacer1-5x);
}

.md-py2 {
  padding-top: var(--spacer2x);
  padding-bottom: var(--spacer2x);
}

.md-py3 {
  padding-top: var(--spacer3x);
  padding-bottom: var(--spacer3x);
}
