.xl-p0 {
  padding: 0;
}

.xl-p0-25 {
  padding: var(--spacer0-25x);
}

.xl-p0-5 {
  padding: var(--spacer0-5x);
}

.xl-p1 {
  padding: var(--spacer);
}

.xl-p1-5 {
  padding: var(--spacer1-5x);
}

.xl-p2 {
  padding: var(--spacer2x);
}

.xl-p3 {
  padding: var(--spacer3x);
}

.xl-pt0 {
  padding-top: 0;
}

.xl-pt0-25 {
  padding-top: var(--spacer0-25x);
}

.xl-pt0-5 {
  padding-top: var(--spacer0-5x);
}

.xl-pt1 {
  padding-top: var(--spacer);
}

.xl-pt1-5 {
  padding-top: var(--spacer1-5x);
}

.xl-pt2 {
  padding-top: var(--spacer2x);
}

.xl-pt3 {
  padding-top: var(--spacer3x);
}

.xl-pr0 {
  padding-right: 0;
}

.xl-pr0-25 {
  padding-right: var(--spacer0-25x);
}

.xl-pr0-5 {
  padding-right: var(--spacer0-5x);
}

.xl-pr1 {
  padding-right: var(--spacer);
}

.xl-pr1-5 {
  padding-right: var(--spacer1-5x);
}

.xl-pr2 {
  padding-right: var(--spacer2x);
}

.xl-pr3 {
  padding-right: var(--spacer3x);
}

.xl-pb0 {
  padding-bottom: 0;
}

.xl-pb0-25 {
  padding-bottom: var(--spacer0-25x);
}

.xl-pb0-5 {
  padding-bottom: var(--spacer0-5x);
}

.xl-pb1 {
  padding-bottom: var(--spacer);
}

.xl-pb1-5 {
  padding-bottom: var(--spacer1-5x);
}

.xl-pb2 {
  padding-bottom: var(--spacer2x);
}

.xl-pb3 {
  padding-bottom: var(--spacer3x);
}

.xl-pl0 {
  padding-left: 0;
}

.xl-pl0-25 {
  padding-left: var(--spacer0-25x);
}

.xl-pl0-5 {
  padding-left: var(--spacer0-5x);
}

.xl-pl1 {
  padding-left: var(--spacer);
}

.xl-pl1-5 {
  padding-left: var(--spacer1-5x);
}

.xl-pl2 {
  padding-left: var(--spacer2x);
}

.xl-pl3 {
  padding-left: var(--spacer3x);
}

.xl-px0 {
  padding-left: 0;
  padding-right: 0;
}

.xl-px0-25 {
  padding-left: var(--spacer0-25x);
  padding-right: var(--spacer0-25x);
}

.xl-px0-5 {
  padding-left: var(--spacer0-5x);
  padding-right: var(--spacer0-5x);
}

.xl-px1 {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.xl-px1-5 {
  padding-left: var(--spacer1-5x);
  padding-right: var(--spacer1-5x);
}

.xl-px2 {
  padding-left: var(--spacer2x);
  padding-right: var(--spacer2x);
}

.xl-px3 {
  padding-left: var(--spacer3x);
  padding-right: var(--spacer3x);
}

.xl-py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.xl-py0-25 {
  padding-top: var(--spacer0-25x);
  padding-bottom: var(--spacer0-25x);
}

.xl-py0-5 {
  padding-top: var(--spacer0-5x);
  padding-bottom: var(--spacer0-5x);
}

.xl-py1 {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.xl-py1-5 {
  padding-top: var(--spacer1-5x);
  padding-bottom: var(--spacer1-5x);
}

.xl-py2 {
  padding-top: var(--spacer2x);
  padding-bottom: var(--spacer2x);
}

.xl-py3 {
  padding-top: var(--spacer3x);
  padding-bottom: var(--spacer3x);
}
